<%= card_taqueria('mb-4') do %>
  <%= render 'shared/index_header', title: 'Burritos', title_class: 'h3 mb-0', new_path: new_burrito_path, new_label: 'Create Burrito' %>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Tortilla</th>
      <th>Size</th>
      <th>Fillings</th>
      <th>Toppings</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @burritos.each do |b| %>
      <tr>
        <td><%= link_to b.name || "Burrito ##{b.id}", burrito_path(b) %></td>
        <td><%= b.user.email %></td>
        <td><%= b.tortilla.name %></td>
        <td><%= b.size.name %></td>
        <td><%= b.fillings.map(&:name).join(", ") %></td>
        <td><%= b.toppings.map(&:name).join(", ") %></td>
        <%= render 'shared/action_buttons', edit_path: edit_burrito_path(b), delete_path: burrito_path(b), show_condition: (b.user == current_user || admin_user?) %>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
