<%= form_with(model: [:admin, filling], local: true) do |f| %>
  <% if filling.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% filling.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_fillings_path, class: "btn btn-link" %>
  </div>
<% end %>
