<%= form_with(model: [:admin, filling], local: true) do |f| %>
  <%= render 'shared/form_errors', object: filling %>

  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_fillings_path, class: "btn btn-link" %>
  </div>
<% end %>
