<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h4 mb-0">Users</h1>
  <%= link_to "New User", new_admin_user_path, class: "btn btn-primary" %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Admin</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.email %></td>
        <td><%= [u.first_name, u.last_name].compact.join(" ") %></td>
        <td><%= u.is_admin.to_i > 0 ? "Yes" : "No" %></td>
        <td>
          <%= link_to "Edit", edit_admin_user_path(u), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to "Delete", admin_user_path(u), method: :delete, data: { confirm: "Delete user?" }, class: "btn btn-sm btn-danger ms-1" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
